In [150]:
import pandas as pd 
import numpy as np

In [151]:
xl = pd.ExcelFile('Бие даалт - 1.xlsx')
df = xl.parse('Ирц')
names = xl.parse('Ирц')['Оюутны нэр']

In [152]:
df = xl.parse('Ирц')
a = df.T.apply(pd.value_counts)[:2].T
d = pd.concat([names,a],axis=1)
ipts = pd.Series(d['и']/32*10, name='Ирцийн оноо')
ipts = pd.concat([names, ipts], axis=1)
ipts

         Оюутны нэр  Ирцийн оноо
0         Батмөнх.Д       5.9375
1       Оюунчимэг.Д       9.3750
2         Гантуяа.Б       9.6875
3       Энхжаргал.Д       9.6875
4   Нарантунгалаг.Ц       7.8125
5      Цэндхорлоо.П       7.8125
6      Даваацэцэг.М       8.1250
7        Батцэцэг.Л       5.0000
8      Адъяатамир.Т      10.0000
9       Гүнгэрмаа.Н       5.3125
10      Байгалмаа.Г       6.2500
11   Тайванжаргал.Ц       8.7500
12        Батхуяг.Б       9.6875
13      Ариунболд.Б      10.0000
14        Буманод.Б       5.6250
15     Нарангарав.Б       9.6875
16       Баттулга.Ю       7.8125
17     Баярсайхан.Д       8.7500
18       Цэндаюуш.М       7.8125
19           Дорж.Л       8.4375
20      Уранбилэг.Д      10.0000
21      Долгормаа.Р       9.6875
22         Шийжав.Г       9.0625
23     Эрдэнэбаяр.Г       9.6875
24          Хулан.Г       7.8125
25      Түмэнбаяр.Д       9.3750
26         Жимсээ.Ц       9.3750
27         Гансүх.Д       9.6875

In [153]:
df = xl.parse('Семинар')
a = df.T[4:25].apply(pd.value_counts).T/19*25
a = a.squeeze()
seminap = a.rename('Семинарын оноо')
seminap = pd.concat([names,seminap],axis=1)
seminap

         Оюутны нэр  Семинарын оноо
0         Батмөнх.Д        2.631579
1       Оюунчимэг.Д       19.736842
2         Гантуяа.Б       23.684211
3       Энхжаргал.Д       18.421053
4   Нарантунгалаг.Ц       15.789474
5      Цэндхорлоо.П       13.157895
6      Даваацэцэг.М       18.421053
7        Батцэцэг.Л        2.631579
8      Адъяатамир.Т       23.684211
9       Гүнгэрмаа.Н        3.947368
10      Байгалмаа.Г        2.631579
11   Тайванжаргал.Ц       17.105263
12        Батхуяг.Б       23.684211
13      Ариунболд.Б       19.736842
14        Буманод.Б        9.210526
15     Нарангарав.Б       19.736842
16       Баттулга.Ю       10.526316
17     Баярсайхан.Д       17.105263
18       Цэндаюуш.М       11.842105
19           Дорж.Л        9.210526
20      Уранбилэг.Д       23.684211
21      Долгормаа.Р       21.052632
22         Шийжав.Г       22.368421
23     Эрдэнэбаяр.Г       22.368421
24          Хулан.Г       15.789474
25      Түмэнбаяр.Д       14.473684
26         Жимсээ.Ц       17.105263
27         Гансүх.Д       19.736842

In [154]:
df = xl.parse('Шалгалт')
shalgalt = df.T[4:7].sum().rename('Шалгалтын оноо')
shalgalt = pd.concat([names, shalgalt], axis=1)
shalgalt

         Оюутны нэр Шалгалтын оноо
0         Батмөнх.Д              0
1       Оюунчимэг.Д          16.15
2         Гантуяа.Б          27.01
3       Энхжаргал.Д          27.91
4   Нарантунгалаг.Ц          19.77
5      Цэндхорлоо.П          25.01
6      Даваацэцэг.М          24.63
7        Батцэцэг.Л              0
8      Адъяатамир.Т          25.75
9       Гүнгэрмаа.Н            5.0
10      Байгалмаа.Г            5.5
11   Тайванжаргал.Ц           25.2
12        Батхуяг.Б          25.95
13      Ариунболд.Б          24.37
14        Буманод.Б          12.52
15     Нарангарав.Б          24.46
16       Баттулга.Ю          13.75
17     Баярсайхан.Д          23.64
18       Цэндаюуш.М          23.05
19           Дорж.Л          19.37
20      Уранбилэг.Д          27.88
21      Долгормаа.Р          28.75
22         Шийжав.Г           28.2
23     Эрдэнэбаяр.Г           29.0
24          Хулан.Г           18.4
25      Түмэнбаяр.Д          24.63
26         Жимсээ.Ц           27.4
27         Гансүх.Д           18.0

In [155]:
df = xl.parse('Бие даалт')
biydaalt = df.T[4:6].sum().rename('Бие даалтын оноо')
biydaalt = pd.concat([names, biydaalt], axis=1)
biydaalt

         Оюутны нэр Бие даалтын оноо
0         Батмөнх.Д                0
1       Оюунчимэг.Д             21.3
2         Гантуяа.Б            21.25
3       Энхжаргал.Д             16.0
4   Нарантунгалаг.Ц             22.1
5      Цэндхорлоо.П             23.5
6      Даваацэцэг.М             25.0
7        Батцэцэг.Л                0
8      Адъяатамир.Т             20.6
9       Гүнгэрмаа.Н                0
10      Байгалмаа.Г                0
11   Тайванжаргал.Ц             15.6
12        Батхуяг.Б            20.25
13      Ариунболд.Б            18.75
14        Буманод.Б              8.5
15     Нарангарав.Б             23.7
16       Баттулга.Ю                0
17     Баярсайхан.Д             24.6
18       Цэндаюуш.М             19.7
19           Дорж.Л             25.0
20      Уранбилэг.Д             24.0
21      Долгормаа.Р             16.5
22         Шийжав.Г             15.2
23     Эрдэнэбаяр.Г            20.75
24          Хулан.Г            23.25
25      Түмэнбаяр.Д             18.1
26         Жимсээ.Ц             21.0
27         Гансүх.Д             21.7

In [156]:
df = xl.parse('Хүмүүжил хандлага')
humuujil = df.T[4:8].sum().rename('Хүмүүжил хандлагын оноо')
humuujil = pd.concat([names, humuujil], axis=1)
humuujil

         Оюутны нэр Хүмүүжил хандлагын оноо
0         Батмөнх.Д                       0
1       Оюунчимэг.Д                    10.0
2         Гантуяа.Б                    10.0
3       Энхжаргал.Д                    10.0
4   Нарантунгалаг.Ц                     8.0
5      Цэндхорлоо.П                     8.0
6      Даваацэцэг.М                     9.5
7        Батцэцэг.Л                       0
8      Адъяатамир.Т                    10.0
9       Гүнгэрмаа.Н                       0
10      Байгалмаа.Г                       0
11   Тайванжаргал.Ц                     6.0
12        Батхуяг.Б                    10.0
13      Ариунболд.Б                    10.0
14        Буманод.Б                     6.0
15     Нарангарав.Б                     9.0
16       Баттулга.Ю                       0
17     Баярсайхан.Д                    10.0
18       Цэндаюуш.М                     9.0
19           Дорж.Л                     5.0
20      Уранбилэг.Д                    10.0
21      Долгормаа.Р                    10.0
22         Шийжав.Г                    10.0
23     Эрдэнэбаяр.Г                    10.0
24          Хулан.Г                     9.5
25      Түмэнбаяр.Д                     8.0
26         Жимсээ.Ц                     9.5
27         Гансүх.Д                    10.0

In [157]:
df = xl.parse('Нэмэлт оноо')
nemelt = df.T[4:5].T.squeeze()
nemelt = pd.concat([names, nemelt], axis=1)
nemelt

         Оюутны нэр Нэмэлт оноо
0         Батмөнх.Д         NaN
1       Оюунчимэг.Д         NaN
2         Гантуяа.Б         NaN
3       Энхжаргал.Д         NaN
4   Нарантунгалаг.Ц         NaN
5      Цэндхорлоо.П         3.0
6      Даваацэцэг.М         NaN
7        Батцэцэг.Л         NaN
8      Адъяатамир.Т         NaN
9       Гүнгэрмаа.Н         NaN
10      Байгалмаа.Г         NaN
11   Тайванжаргал.Ц         NaN
12        Батхуяг.Б         NaN
13      Ариунболд.Б         2.0
14        Буманод.Б         1.0
15     Нарангарав.Б         NaN
16       Баттулга.Ю         NaN
17     Баярсайхан.Д         NaN
18       Цэндаюуш.М         NaN
19           Дорж.Л         NaN
20      Уранбилэг.Д         NaN
21      Долгормаа.Р         NaN
22         Шийжав.Г         NaN
23     Эрдэнэбаяр.Г         NaN
24          Хулан.Г         NaN
25      Түмэнбаяр.Д         2.0
26         Жимсээ.Ц         NaN
27         Гансүх.Д         NaN

In [144]:
niit=pd.concat([ipts, seminap, shalgalt, biydaalt, humuujil, nemelt], axis=1).T.sum().rename('Нийт оноо')
#niit = pd.concat([names, niit], axis=1)
#niit

In [145]:
def dun(x):
    if x >= 90:
        print('A')
    elif 80<= x <= 89:
        print('B')
    elif 70<= x <= 79:
        print('C')
    elif 60<= x <= 69:
        print('D')
    elif 0<= x <= 59:
        print('F')
#for i in niit:
    #dun(i)

In [146]:
count_A=0
count_B=0
count_C=0
count_D=0
count_F=0
for x in niit:
    if x >= 90:
        count_A+=1
    elif 80<= x <= 89:
        count_B+=1
    elif 70<= x <= 79:
        count_C+=1
    elif 60<= x <= 69:
        count_D+=1
    elif 0<= x <= 59:
        count_F+=1
print('A =', count_A)
print('B =', count_B)
print('C =', count_C)
print('D =', count_D)
print('F =', count_F)

A = 4
B = 9
C = 6
D = 1
F = 6

In [147]:
amjilt = (count_A + count_B + count_C + count_D)/28*100
amjilt

71.42857142857143

In [148]:
canap = (count_A + count_B)/28*100
canap

46.42857142857143

In [149]:
print('Ирцийн хамгийн бага утга -', ipts.min())
print('Ирцийн хамгийн их утга -', ipts.max())
print('Ирцийн дундаж утга -', ipts.mean())

print('Семинарын хамгийн бага утга -', seminap.min())
print('Семинарын хамгийн их утга -', seminap.max())
print('Семинарын дундаж утга -', seminap.mean())

print('Шалгалтын хамгийн бага утга -', shalgalt.min())
print('Шалгалтын хамгийн их утга -', shalgalt.max())
print('Шалгалтын дундаж утга -', shalgalt.mean())

print('Шалгалтын хамгийн бага утга -', shalgalt.min())
print('Шалгалтын хамгийн их утга -', shalgalt.max())
print('Шалгалтын дундаж утга -', shalgalt.mean())

print('Бие даалтын хамгийн бага утга -', biydaalt.min())
print('Бие даалтын хамгийн их утга -', biydaalt.max())
print('Бие даалтын дундаж утга -', biydaalt.mean())

print('Хүмүүжил хандлагын хамгийн бага утга -', humuujil.min())
print('Хүмүүжил хандлагын хамгийн их утга -', humuujil.max())
print('Хүмүүжил хандлагын дундаж утга -', humuujil.mean())

print('Нэмэлтийн хамгийн бага утга -', nemelt.min())
print('Нэмэлтийн хамгийн их утга -', nemelt.max())
print('Нэмэлтийн дундаж утга -', nemelt.mean())

Ирцийн хамгийн бага утга - 5.0
Ирцийн хамгийн их утга - 10.0
Ирцийн дундаж утга - 8.4375
Семинарын хамгийн бага утга - 2.631578947368421
Семинарын хамгийн их утга - 23.684210526315788
Семинарын дундаж утга - 15.695488721804509
Шалгалтын хамгийн бага утга - 0
Шалгалтын хамгийн их утга - 29.0
Шалгалтын дундаж утга - 20.40357142857143
Шалгалтын хамгийн бага утга - 0
Шалгалтын хамгийн их утга - 29.0
Шалгалтын дундаж утга - 20.40357142857143
Бие даалтын хамгийн бага утга - 0
Бие даалтын хамгийн их утга - 25.0
Бие даалтын дундаж утга - 16.65535714285714
Хүмүүжил хандлагын хамгийн бага утга - 0
Хүмүүжил хандлагын хамгийн их утга - 10.0
Хүмүүжил хандлагын дундаж утга - 7.410714285714286
Нэмэлтийн хамгийн бага утга - 1.0
Нэмэлтийн хамгийн их утга - 3.0
Нэмэлтийн дундаж утга - 2.0